<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="../../css/commom1.css" type="text/css" rel="Stylesheet" />
<link href="../../css/style1.css" type="text/css" rel="Stylesheet" />
<link rel="stylesheet" href="../../css/bootstrap.css" />
<script src="../../js/jquery-1.11.3.js"></script>
<script src="../../js/bootstrap.js"></script>
<!--[if lt IE 9]>
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->
<script src="../../js/angularjs/angular1.js"></script>
<script src="../../js/angularjs/angular-ui-router.js"></script>
<title>团队信息</title>
</head>
<body ng-app="syApp" ng-controller="teamCtrl">
	<div class="col-lg-6">
		<div class="input-group" id="div">
			<input type="text" ng-model="inputName" placeholder="请输入团队名查询"
				id="form-control" class="form-control"> <span
				class="input-group-btn" id="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="queryByName();">查询</button>
			</span> <select class="form-control" ng-model="queryPid"
				ng-change="queryByPid();">
				<option value="">-- 请选择 --</option>
				<option ng-repeat="v in pdata track by $index" value="{{v.id}}">{{v.name}}</option>
			</select>
		</div>
	</div>
	<div id="show">
		<table
			class="table table-bordered table-striped  table-hover table-responsive ">
			<thead>
				<tr>
					<th class="first3">序号</th>
					<th class="first3">团队名称</th>
					<th class="first3">所属项目</th>
					<th class="first3">状态</th>
					<th class="first3">创建者</th>
					<th class="first3">修改者</th>
					<th class="first3">备注</th>
					<th class="first3">操作</th>
				</tr>
			</thead>
			<tbody id="_tbody">
				<tr ng-repeat="v in data track by $index">
					<td>{{$index + 1}}</td>
					<td>{{v.name}}</td>
					<td>{{v.pname}}</td>
					<td>{{v.valid == "1" ? "启用":"禁用"}}</td>
					<td>{{v.createdUser}}</td>
					<td>{{v.modifiedUser}}</td>
					<td>{{v.remark}}</td>
					<td><a href="productInfo.html?id={{v.id}}&name={{v.name}}"
						target="new-add"><button class="btn btn-info">查看详细信息</button></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-show="isShow">
			<!-- 这个分页的导航栏开始数字和结束数字会随着用户的点击而改变 -->
			<ul class="pagination pull-right">
				<li><a ng-click="previous();">&laquo;</a></li>
				<li ng-repeat="page in paging"
					ng-class="{active:isActivePage(page)}"><a
					ng-click="current(page);">{{page}}</a></li>
				<li><a ng-click="next();">&raquo;</a></li>
			</ul>
		</div>
	</div>
</body>
<script src="../common/page.js"></script>
<script src="../../js/view/team/team.js"></script>
</html>