<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../../css/commom1.css" type="text/css" rel="Stylesheet" />
    <link href="../../css/style1.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->
    <script src="../../js/angularjs/angular1.js"></script>
    <script src="../../js/angularjs/angular-ui-router.js"></script>
	<title>项目信息</title>
</head>
<body ng-app="syApp" ng-controller="projectCtrl">
<div class="col-lg-6" id="div">
	<div class="input-group" style="width:60%;">
		<input type="text" ng-model="inputName" placeholder="请输入项目名查询" class="form-control">
		<span class="input-group-btn">
	         <button class="btn btn-default" type="button" ng-click="queryByName();">查询</button>
	    </span>
	</div>
</div>
<div id="show">
    <table
            class="table table-bordered table-striped  table-hover table-responsive "
    >
        <thead>
        <tr>
            <th class="first3">序号</th>
            <th class="first3">项目编号</th>
            <th class="first3">项目名</th>
            <th class="first3">开始时间</th>
            <th class="first3">结束时间</th>
            <th class="first3">状态</th>
            <th class="first3">备注</th>
           	<th class="first3">操作</th>
        </tr>
        </thead>
        <tbody id="_tbody">
        <tr ng-repeat="v in data track by $index">
            <td>{{$index + 1}}</td>
            <td>{{v.code}}</td>
            <td>{{v.name}}</td>
            <td>{{v.beginDate}}</td>
            <td>{{v.endDate}}</td>
            <td>{{v.valid == 1 ? "启用":"禁用"}}</td>
            <td>{{v.remark}}</td>
            <td>
                <a href="teamAndProductInfo.html?id={{v.id}}&name={{v.name}}" target="new-add"><button class="btn btn-info">查看详细信息</button></a>
            </td>
        </tr>
        </tbody>
        <tfoot id="_tfoot">
        </tfoot>
    </table>
		<div ng-show="isShow">
			<!-- 这个分页的导航栏开始数字和结束数字会随着用户的点击而改变 -->
			<ul class="pagination pull-right">
				<li><a ng-click="previous();">&laquo;</a></li>
				<li ng-repeat="page in paging"
					ng-class="{active:isActivePage(page)}"><a
					ng-click="current(page);">{{page}}</a></li>
				<li><a ng-click="next();">&raquo;</a></li>
			</ul>
		</div>
	</div>
</body>
<script src="../common/page.js"></script>
<script src="../../js/view/project/project.js"></script>
</html>